@mycompany:registry=https://jfrogghdemo.jfrog.io/artifactory/api/npm/dpndbt-pvt-repo-npm-key/
//jfrogghdemo.jfrog.io/artifactory/api/npm/dpndbt-pvt-repo-npm-key/:_authToken=${secrets.JFROG_ARTIFACTORY_TOKEN}
//jfrogghdemo.jfrog.io/artifactory/api/npm/dpndbt-pvt-repo-npm-key/:email=thavaahariharangit@github.com
//jfrogghdemo.jfrog.io/artifactory/api/npm/dpndbt-pvt-repo-npm-key/:always-auth=true